*{
    margin: 0;
    padding: 0;
    position: relative;
}

/*+++++++++++++SECCION HEADER++++++++++++*/

.navegacion{
    width: 100%;
    background: rgb(16, 16, 63);
    text-align: center;
   
}

.modoClaro{
    background-color: lightblue;
    color:black;
}

.modoClaro1{
    background: rgb(143, 216, 240);
}
.modoClaro2{
    background: rgb(206, 219, 221);
}

.inputClaro{
    background: rgb(246, 241, 241);
    color:black;
}

.tituloProject{
    color: white;
    font-size: 2.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family:anda
}

.contenedorDeBotones{
    padding:5px ;
}

.btnNav{
    padding: 10px;
    background: rgb(16, 16, 63);
    color:white;
    border:none; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
}

.btnNav:hover , .btnNav:focus{
    background: rgb(97, 162, 243);
    border-radius: 3px;
}

/*+++++++++SECCION CENTRAL DE MEME++++++++*/

.central{
    width:100%;
    background:rgb(31, 31, 179);

}

.container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenedorMeme{
    width: 50%;
    
}

.contenedorTopText{
   position: static;
   top: 0px; 

}
.contenedorBottomText{
    position:absolute;
    bottom:0px;
}

.contenedorTopText , .contenedorBottomText{
    width: 100%;
    background: white;
    text-align: center;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:15px 0px 15px;
}

.contenedorImagen{
    width:100%;
    background-color: #1E1E1E;
    height: 600px;
    background-position: cover;
    position:relative;
    
}
.contenedorBtnDeDescarga{
    text-align: center;

}
.btnDeDescarga{
    background: green;
    padding: 10px;
    margin: 20px;
    color:white;
    border-radius:3px;
    border:none;
}
.botonCerrar{
    padding: 5px;
}


/*+++++++++SECCION ASIDE DE TEXTO+++++++++++++++++++++++++*/
.columnaDeTexto{
    display:none;
}

.columnaDeTexto {
    position:fixed;
    right: 0px;
    top: 0px;
    width:270px;
    height: 90%;
    background:rgb(20, 20, 100);
    color:white;
    
}
.seccionDeTexto{
    padding: 5px;
    height: 100%;
}

.opcionesDeColumnaDeTexto{
    margin-top: 15px;
}

.inputTopText , .inputTextoInferior{
    background: black;
    border:none;
    border-radius:3px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    width: 95%;
}

.checkboxSuperior{
    margin:5px 0px;
}

.menuSelectorDeFuente , .espaciadoDeTexto , .selectorInterlineado{
    background: black;
    border-radius:3px;
    border:none;
    padding: 7px;
    color:white;
    width: 95%;
    margin-bottom: 5px;
}

.contenedorDeFuente{
    display:flex;
}
.tamanioDeFuente{
    font-size:small;
    color:white;
    background: black;
    border:none;
    padding: 7px;
    border-radius: 3px;

}
.fondoTransparente{
    background: transparent!important;
}

.botonAlinearIzquierda , .botonCentrar , .botonAlinearDerecha , .botonContorno{
    padding: 5px;
    color: white;
    background: black;
    border:none;
    font-size: medium;
    border-radius: 3px;
}

.colorYFondo{
    display:flex;
    margin-top: 15px;
}

.checkboxFondoTransparente{
    margin:10px 0px;
}

.contenedorDeContorno , .espaciado , .interlineado{
    margin: 15px 0px;
}

/*++++++++++++++++++SECCION ASIDE DE IMAGEN++++++++++++++++++++*/
.ocultar{
    display: none;
}
.columnaDeImagen{
    display:none;
}

.columnaDeImagen{
    position:fixed;
    right: 0px;
    top: 0px;
    width:270px;
    height: 100%;
    background:rgb(20, 20, 100);
    color:white;
   

   
}
.seccionDeImagen{
    padding:10px;
    height: 100%;
}

.tituloImagen1 , .tituloTexto1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    text-align: center;
}

.tituloImagen2 , .tituloTexto2{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:small;
    margin: 3px;
    margin-bottom: 10px;
}

.direccionDeUrl{
    padding: 5px;
}
.urlDeImagen{
    padding: 7px;
    width:95%;
    border-radius: 3px ;
    border:none;
    color:white;
    background-color: black;
    
}


.contenedorFondoDeImagen{
    display: flex;
    text-align: center;
    
}

.inputFondoImagen , .inputColorDeTexto , .inputFondoDeTexto{
    border:none;
    background-color: black;
    border-radius: 3px;
    padding: 5px 2px;
}

.menuSelector{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
    border:none;
    margin-left:10px;
}

.contenedorDeFiltros{
    padding: 5px;
}

.filtro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.opcionDeFiltro{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.botonReestablecer{
    background-color: black;
    border-radius: 3px;
    color: white;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    padding: 5px;
    margin-top: 10px;
}

.mostrar{
    position:absolute!important;
    top:0px;
    right: 0px;
}

@media screen and (min-width: 1300px){

    .botonCerrar{
        display:none;
    }

    
}


